force-app/main/default/flows/After_Insert_Event_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_New_Session_Registrations</name>
        <label>Add New Session Registrations</label>
        <locationX>734</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>SessionRegistration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SessionRegistrationn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mandatory_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Session_Registration</name>
        <label>New Session Registration</label>
        <locationX>994</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>SessionRegistrationn.Attendee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRegistrationn.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mandatory_Sessions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Session_Registrations</targetReference>
        </connector>
    </assignments>
    <description>Auto Registration for Welcome Session at Dreamforce Events</description>
    <interviewLabel>After Insert Event Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Insert Event Registration</label>
    <loops>
        <name>Mandatory_Sessions</name>
        <label>Mandatory Sessions</label>
        <locationX>992</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Welcome_Session_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Session_Registration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Register_for_Welcome_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Attendee who registers for a Dreamforce event will be registered automatically for the Welcome session under the Dreamforce event</description>
        <name>Register_for_Welcome_Session</name>
        <label>Register for Welcome Session</label>
        <locationX>1355</locationX>
        <locationY>688</locationY>
        <inputReference>SessionRegistration</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Welcome_Session_Id</name>
        <label>Get Welcome Session Id</label>
        <locationX>992</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandatory_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Mandatory__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>873</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Welcome_Session_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dreamforce</stringValue>
            </value>
        </filters>
        <object>Event_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SessionRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Registration__c</objectType>
    </variables>
    <variables>
        <name>SessionRegistrationn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Registration__c</objectType>
    </variables>
</Flow>
