force-app/main/default/flows/Before_Insert_Update_Public_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Fill_Dates_Text</name>
        <label>Fill Dates(Text)</label>
        <locationX>610</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Dates_for_Set</name>
        <label>Dates for Set</label>
        <locationX>600</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dates_are_Insert_or_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Dates_Text</targetReference>
            </connector>
            <label>Dates are Insert or Changed</label>
        </rules>
    </decisions>
    <description>Fill &quot;DateStart&quot; &amp; &quot;DateEnd&quot; fields</description>
    <formulas>
        <description>End date of Public Event</description>
        <name>EndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!$Record.End_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Start date of Public Event</description>
        <name>StartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!$Record.Start_Date__c}))</expression>
    </formulas>
    <interviewLabel>Before Insert Update Public Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Insert Update Public Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>489</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Dates_for_Set</targetReference>
        </connector>
        <object>Public_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
