force-app/main/default/flows/Before_Delete_Event_Regs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>To_Be_Deleted</name>
        <label>To Be Deleted</label>
        <locationX>205</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop.Session__r.Public_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Public_Event__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Session_Registration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Before Delete Event Regs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Delete Event Regs</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>213</locationX>
        <locationY>467</locationY>
        <collectionReference>Get_Session_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_Be_Deleted</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Session_Registration</name>
        <label>Delete Session Registration</label>
        <locationX>503</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <inputReference>loop</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Session_Registrations</name>
        <label>Get Session Registrations</label>
        <locationX>500</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>554</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Session_Registrations</targetReference>
        </connector>
        <object>Event_Registration__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
