force-app/main/default/flows/Before_Insert_and_Update_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Trigger_Overlapping_VR</name>
        <label>Trigger Overlapping VR</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Overlapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Overlapping</name>
        <label>Is Overlapping</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overlapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Overlapping_Sessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Overlapping_VR</targetReference>
            </connector>
            <label>Overlapping</label>
        </rules>
    </decisions>
    <interviewLabel>Before Insert and Update Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Insert and Update Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Overlapping_Sessions</name>
        <label>Get Overlapping Sessions</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Overlapping</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (NOT(3) AND 5))</filterLogic>
        <filters>
            <field>Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_Time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_Time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.End_Date_Time__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Overlapping_Sessions</targetReference>
        </connector>
        <object>Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
