force-app/main/default/flows/Before_Delete_Event_Regs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Session_Registration_Record</name>
        <label>Add Session Registration Record</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>StoreRegistrationsToBeDeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Any_Records</name>
        <label>Has Any Records</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreRegistrationsToBeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Session_Registrations</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Be_Deleted</name>
        <label>To Be Deleted</label>
        <locationX>402</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop.Session__r.Public_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Public_Event__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Session_Registration_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Before Delete Event Regs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Delete Event Regs</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Session_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_Be_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Any_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Session_Registrations</name>
        <label>Delete Session Registrations</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputReference>StoreRegistrationsToBeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Session_Registrations</name>
        <label>Get Session Registrations</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Session_Registrations</targetReference>
        </connector>
        <object>Event_Registration__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreRegistrationsToBeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Registration__c</objectType>
    </variables>
</Flow>
