force-app/main/default/flows/Create_Event_Registration_Id_Fill_Registration_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Create Unique Id from Public Event Id &amp; Contact Id</description>
        <name>Create_Unique_Id</name>
        <label>Create Unique Id</label>
        <locationX>1045</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>$Record.Registration_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId_15DigitPublicEventId_15Digit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Desicion_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Customer_Registration_Fee_Update</name>
        <label>Update Customer Registration Fee Update</label>
        <locationX>457</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>$Record.Registration_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Employee_Registration_Fee_Update</name>
        <label>Update Employee Registration Fee Update</label>
        <locationX>1678</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>$Record.Registration_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Partner_Registration_Fee_Update</name>
        <label>Update Partner Registration Fee Update</label>
        <locationX>1043</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>$Record.Registration_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Desicion_1</name>
        <label>Desicion 1</label>
        <locationX>1035</locationX>
        <locationY>877</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Registration_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Custom Registration Fee</label>
        </rules>
        <rules>
            <name>Customer_Registration_Fee_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Registration_Fee_Update</targetReference>
            </connector>
            <label>Customer Registration Fee Update</label>
        </rules>
        <rules>
            <name>Partner_Registration_Fee_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_Registration_Fee_Update</targetReference>
            </connector>
            <label>Partner Registration Fee Update</label>
        </rules>
        <rules>
            <name>Employee_Registration_Fee_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee_Registration_Fee_Update</targetReference>
            </connector>
            <label>Employee Registration Fee Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_Check</name>
        <label>Id Check</label>
        <locationX>1034</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_or_Public_Event_Change_or_Registration_Id_is_Null</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contact__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Public_Event__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Public_Event__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unique_Id</targetReference>
            </connector>
            <label>Contact or Public Event Change or Registration Id is Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactId_15DigitPublicEventId_15Digit</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Contact__r.Id},15)+LEFT({!$Record.Public_Event__r.Id},15)</expression>
    </formulas>
    <interviewLabel>Create Event Registration Id &amp; Fill Registration Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Event Registration Id &amp; Fill Registration Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>924</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Id_Check</targetReference>
        </connector>
        <object>Event_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
